@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/app/globals.css */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* Add this to your CSS file or style tag */

.treemap-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

rect {
  cursor: pointer;
}

rect:hover {
  filter: brightness(0.8);
}

text {
  pointer-events: none;
}